In [1]:
import networkx as nx
from collections import defaultdict
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
G = nx.Graph()

In [3]:
with open(r'USA-road-d.CAL.co','r') as f1:
    for line in f1:
        if line[0] == 'v':
            n,la,lo = list(map(int, line[2:].split()))
            G.add_node(n, longitude = (la/1000000), latitude = (lo/1000000))

In [4]:
G.nodes[5]

{'longitude': -114.3473, 'latitude': 34.042614}

In [5]:
adj = defaultdict(set)
with open(r'USA-road-d.CAL.gr','r') as f:
    for line in f:
        if line[0] == 'a':
            n1,n2, d =  list(map(int, line[2:].split()))
            G.add_edge(n1,n2,distance = d,weight = 1)
            adj[n1].add(n2)
            adj[n2].add(n1)

In [6]:
G.nodes[5]

{'longitude': -114.3473, 'latitude': 34.042614}

In [7]:
nx.info(G,5)

'Node 5 has the following properties:\nDegree: 3\nNeighbors: 6 2244 1048581'

In [8]:
nx.info(G,6)

'Node 6 has the following properties:\nDegree: 2\nNeighbors: 5 1050368'

In [9]:
G[5][6]

{'distance': 18133, 'weight': 1}

In [10]:
G.edges[5,6]

{'distance': 18133, 'weight': 1}

In [11]:
nx.info(G)

'Name: \nType: Graph\nNumber of nodes: 1890815\nNumber of edges: 2315222\nAverage degree:   2.4489'

In [12]:
with open(r'USA-road-t.CAL.gr','r') as f2:
    for line in f2:
        if line[0] == 'a':
            n1,n2, t =  list(map(int, line[2:].split()))
            G.add_edge(n1,n2,time = t)

In [13]:
G.edges[5,6]

{'distance': 18133, 'weight': 1, 'time': 45332}

In [14]:
nx.info(G)

'Name: \nType: Graph\nNumber of nodes: 1890815\nNumber of edges: 2315222\nAverage degree:   2.4489'

In [15]:
nx.has_path(G, source=5, target=6)

True

In [16]:
nx.has_path(G, source=2244, target=1050368)

True

In [17]:
nx.dijkstra_path(G, source=2244, target=1050368)

[2244, 5, 6, 1050368]

In [18]:
G.nodes[2]

{'longitude': -114.223946, 'latitude': 34.176221}

# Making Nodes in Network into Dataframe

In [95]:
NodesDataframe = pd.DataFrame([G.nodes[i] for i in range(1,len(G.nodes))])
NodesDataframe.head()

    longitude   latitude
0 -114.315309  34.133550
1 -114.223946  34.176221
2 -114.307299  34.148791
3 -114.318765  34.138889
4 -114.347300  34.042614

In [82]:
#NodesDataframe = NodesDataframe.head(100)

In [96]:
NodesDataframe

          longitude   latitude
0       -114.315309  34.133550
1       -114.223946  34.176221
2       -114.307299  34.148791
3       -114.318765  34.138889
4       -114.347300  34.042614
...             ...        ...
1890809 -114.015907  37.131341
1890810 -114.010850  37.121318
1890811 -114.027219  37.120524
1890812 -114.022545  37.121222
1890813 -114.038688  37.087748

[1890814 rows x 2 columns]

# Visualization

In [22]:
import folium
from folium import plugins

In [76]:
# map
ourmap = folium.Map(location=[36.778259, -119.417931], zoom_start=6)
ourmap

In [ ]:
#Nodes MArker
ourmap = folium.Map(location=[36.778259, -119.417931], zoom_start=6)
for i in NodesDataframe.itertuples():
    folium.Marker(location=[(i.latitude),(i.longitude)],popup = (i[0]),
                  icon=plugins.BeautifyIcon(icon_shape = 'circle-dot'
                    ,border_color = 'Blue')).add_to(ourmap)                                    
                                            
ourmap.save('markedmap.html')

In [25]:
#folium.Marker(location=)